body {
  font-family: "Roboto", "Raleway" sans-serif;
  background-color: #ffffff;
  color: #434455;
  letter-spacing: 0.02px;
}

ul,
ol {
  list-style-type: none;
}

.logo {
  font-family: "Raleway";
  text-transform: uppercase;
  text-decoration: none;
}

.nav-links .link {
  color: #2e2f42;
}
.nav-links .link:hover {
  color: #404bbf;
}

.nav-links .link:active {
  color: #404bbf;
}

.main-page {
  background-color: #2e2f42;
}

.title {
  color: #fff;
}

.button {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
}
